# Ignore the Emscripten compiler toolchain (Massive file size)
emsdk/

# Ignore compiled C++ object files
*.o

# Ignore VS Code local settings
.vscode/

# Ignore Mac/Windows system files
.DS_Store
Thumbs.db
